<!-- ko if: $data -->
    <label data-bind="template: { nodes: $componentTemplateNodes, data: $parent }"></label>
    <!-- ko if: before || after -->
    <div class="input-group">
        <!-- ko if: before -->
        <span class="input-group-addon" data-bind="text: before"></span>
        <!-- /ko -->
        <input type="text" class="form-control" data-bind="value: value, attr: {placeholder: placeholder}" />
        <!-- ko if: after -->
        <span class="input-group-addon" data-bind="text: after"></span>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko ifnot: before || after -->
        <input type="text" class="form-control" data-bind="value: value, attr: {placeholder: placeholder}" />
    <!-- /ko -->
    <p class="alert-danger" data-bind="validationMessage: value"></p>
<!-- /ko -->